<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <title>Gainesville Utility App</title>
        <link rel="stylesheet" href='{% static "css/main.css" %}'/>
        <!-- Latest compiled and minified CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">       
    </head>
    <body>
        <header class="navbar-inverse">
            <div class="container">
                <nav>
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">
                                Gainesville Utility App
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
       
        <div class="container">
            <div class="jumbotron">
                <h2 class="text-center">Welcome to the Gainesville Utility App!</h2>
                <p class="text-center">Here you can look up the monthly electric consumption of any single family home in the city of Gainesville. Input the address below.</p>
            </div>

        {% block content %}
        {% endblock %}

        </div>

        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text">Site build by Michael Cordoba</p>
            </div>
        </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>